<!DOCTYPE html>
<html>

<head>
    <title><%= config.id %> | <%= SystemConfig.web.community%></title>

    <%- include('partials/master.ejs') %>
</head>

<body>
    <div style="margin: 0 2em;">

        <div style="margin-top: -1.5em;">
            <p style="font-size: 30pt;"><%= config.id %></p>

            <div class="row" style="margin-top: -2em; margin-bottom: 1em;">
                <p onclick="sendServerAction('<%= config.id %>', 'start')" style="margin: 0 2em; color: #55eb48; cursor: pointer;">Start</p>
                <p onclick="sendServerAction('<%= config.id %>', 'stop')" style="margin: 0 2em; color: red; cursor: pointer;">Stop</p>
            </div>

            <div id="server-config-nav" class="row config-nav noselect" style="background-color: #323336;">
                <a href="#server">Server</a>
                <a href="#preset">Preset</a>
                <a href="#mods">Mods</a>
                <a href="#discord">Discord</a>
                <a href="#console">Console</a>
            </div>
        </div>

        <section id="tabs">

            <div id="tab-server" class="card config-tab">

                <div class="row" style="display: flex; flex-wrap: nowrap;">
                    <div class="col" style="padding-left: 0;">
                        <div class="row">
                            <label style="padding-top: 0;">Server Name</label>
                            <input id="server-name" type="text" value="<%= config.name.server %>">
                        </div>

                        <div class="row" style="margin-top: 1em;">
                            <label style="padding-top: 0;">World Name</label>
                            <input id="world-name" type="text" value="<%= config.name.world %>">
                        </div>
                    </div>
                    
                    <div class="col">
                        <div class="row">
                            <label style="padding-top: 0;">Server Port</label>
                            <input id="server-port" type="text" value="<%= config.port %>">
                        </div>

                        <div class="row" style="margin-top: 1em;">
                            <label style="padding-top: 0;">Rcon Port</label>
                            <input id="rcon-port" type="text" value="<%= config.rcon %>">
                        </div>
                    </div>

                    <div class="col">
                        
                    </div>
                </div>

                <div class="row" style="margin-top: 2em;">
                    <button class="btn btn-primary" onclick="applyServerSettings()">Apply</button>
                </div>

            </div>

            <div id="tab-preset" class="card config-tab"> 

                <div class="row" style="display: flex; flex-wrap: nowrap;">
                    <div class="col" style="padding-left: 0;">
                        <label style="padding-top: 0;">Active Server Preset</label>
                        <select id="server_config_preset" onchange="fetchConfig()">
                            <option disabled>Local Server Presets</option>
                            <% for (server_cfg of presets.local.server) { %>
                                <option value="local%<%= server_cfg %>" <% if (`local%${server_cfg}` === config.active.config) { %>selected<% } %>><%= server_cfg.split('.')[0] %> | Local</option>
                            <% } %>
                            <option disabled></option>
                            <option disabled>Global Server Presets</option>
                            <% for (server_cfg of presets.global.server) { %>
                                <option value="global%<%= server_cfg %>" <% if (`global%${server_cfg}` === config.active.config) { %>selected<% } %>><%= server_cfg.split('.')[0] %> | Global</option>
                            <% } %>
                        </select>

                        <div class="row" style="display: flex; flex-wrap: nowrap;">
                            <button class="btn btn-primary" onclick="createConfig()">Create New Config</button>
                            <button class="btn btn-primary" onclick="globalConfig()" style="margin-left: 1em; background-color: #e07924;">Create Global Config</button>
                            <button class="btn btn-primary" onclick="if (confirm('Are you sure you want to delete this configuration preset?')) deleteConfig()" style="margin-left: 1em; background-color: #da3c3c;">Delete Config</button>
                        </div>
                    </div>

                    <div class="col">
                        <label style="padding-top: 0;">Preset Name</label>
                        <input id="preset-name" type="text" value="<%= config.active.config.split('.')[0].split('%')[1] %>">
                    </div>
                </div>

                <button class="btn btn-primary" onclick="saveConfig()" style="float: right; margin-top: 0; margin-bottom: 1em; background-color: #42aa38;">Save Config</button>
                <textarea id="server-editor" style="width: 100%; resize: vertical; background-color: #1f1f1f; height: 40em; max-height: 35em; min-height: 10em;" spellcheck="false"></textarea>

            </div>

            <div id="tab-mods" class="card config-tab"> 

                <div class="row" style="display: flex; flex-wrap: nowrap;">
                    <div class="col" style="padding-left: 0;">
                        <label style="padding-top: 0;">Active Server Preset</label>
                        <select id="server_config_preset" onchange="fetchConfig()">
                            <option disabled>Local Server Presets</option>
                            <% for (server_cfg of presets.local.server) { %>
                                <option value="local%<%= server_cfg %>" <% if (`local%${server_cfg}` === config.active.config) { %>selected<% } %>><%= server_cfg.split('.')[0] %> | Local</option>
                            <% } %>
                            <option disabled></option>
                            <option disabled>Global Server Presets</option>
                            <% for (server_cfg of presets.global.server) { %>
                                <option value="global%<%= server_cfg %>" <% if (`global%${server_cfg}` === config.active.config) { %>selected<% } %>><%= server_cfg.split('.')[0] %> | Global</option>
                            <% } %>
                        </select>

                        <div class="row" style="display: flex; flex-wrap: nowrap;">
                            <button class="btn btn-primary" onclick="createConfig()">Create New Config</button>
                            <button class="btn btn-primary" onclick="globalConfig()" style="margin-left: 1em; background-color: #e07924;">Create Global Config</button>
                            <button class="btn btn-primary" onclick="if (confirm('Are you sure you want to delete this configuration preset?')) deleteConfig()" style="margin-left: 1em; background-color: #da3c3c;">Delete Config</button>
                        </div>
                    </div>

                    <div class="col">
                        <label style="padding-top: 0;">Preset Name</label>
                        <input id="preset-name" type="text" value="<%= config.active.config.split('.')[0].split('%')[1] %>">
                    </div>
                </div>

                <button class="btn btn-primary" onclick="saveConfig()" style="float: right; margin-top: 0; margin-bottom: 1em; background-color: #42aa38;">Save Config</button>
                <textarea id="server-editor" style="width: 100%; resize: vertical; background-color: #1f1f1f; height: 40em; max-height: 35em; min-height: 10em;" spellcheck="false"></textarea>
            
            </div>

            <div id="tab-discord" class="card config-tab"> 
                
                <div class="row" style="display: flex; flex-wrap: nowrap;">
                    <div class="col" style="padding-left: 0;">

                        <div class="row">
                            <label style="padding-top: 0;">Guild</label>
                            <select id="discord-guild" onchange="updateDiscord()">
                                <% for (guild of discord.guilds) { %>
                                <option value="<%= guild[1].id %>"><%= guild[1].name %></option>
                                <% } %>
                            
                            </select>
                        </div>

                        <div class="row" style="margin-top: 2rem;">
                            <label style="padding-top: 0;">Notifications Channel</label>
                            <select id="discord-notifications-channel">

                            </select>
                        </div>

                    </div>

                    <div class="col">
                        
                    </div>

                    <div class="col">
                        
                    </div>
                </div>

                <button class="btn btn-primary" onclick="applyDiscord()" style="margin-top: 1em;">Apply</button>

            </div>

            <div id="tab-console" class="card config-tab"> 
                <textarea id="live-console" style="width: 100%; resize: vertical; background-color: #1f1f1f; height: 20em; max-height: 40em;" readonly></textarea>
                <label>Send Command</label>
                <input id="command-bar" type="text" placeholder="say Hello World!">
            </div>

        </section>

    </div>
</body>



<footer>
    <script src="/assets/js/controller.js"></script>
</footer>


</html>

<style>
    .config-nav a {
        margin: 0 -.25em 0 0;
        padding: .5em 1em;
        color: white;
        background-color: #323336;
        cursor: pointer;
        text-decoration: none;
    }

    .config-nav a:hover, .config-nav a:active, .config-nav .active {
        color: #323336;
        background-color: #f2f2f2;
    }

    .config-tab {
        margin: 0;
        background-color: #1a1a1a;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
    }

    .col {
        width: 50%;
        padding: 0 1em;
    }

    input {
        background-color: #252525;
        border-color: #4d4d4d;
    }

    select, option {
        background-color: #252525;
        border-color: #4d4d4d;
    }

    textarea:focus {
        outline: none;
        white-space: nowrap;
    }
</style>

<script>
    function setTab() {
        $('#server-config-nav').find('a').removeClass('active')
        $('#server-config-nav').find(`a[href="${window.location.hash}"]`).addClass('active')
        $('#tabs').find('[id^="tab-"]').hide()
        $('#tabs').find(`#tab-${window.location.hash.replace('#', '')}`).show()
        if (!window.location.hash) $('#server-config-nav').find(`a[href="#server"]`).addClass('active'), $('#tabs').find(`#tab-server`).show()
    } setTab()
    window.addEventListener('hashchange', setTab)

    function refreshConsole() {
        fetch('/server/log?id=<%= config.id %>')
            .then(res => {
                res.text().then(text => {$('#live-console').html(text); $('#live-console').scrollTop($('#live-console')[0].scrollHeight)})
            })
            .catch(err => console.error(err))  
    } refreshConsole(), setInterval(refreshConsole, 5000)

    $('#command-bar').keydown(function(e) {
        if (e.keyCode !== 13 || !$('#command-bar').val()) return
        fetch('/server/command?id=<%= config.id %>&cmd=' + $('#command-bar').val()).then(() => refreshConsole())
        $('#command-bar').val('')
    })

</script>

<%- include('partials/modals.ejs') %>