<!DOCTYPE html>
<html>

<head>
    <title><%= config.id %> | <%= SystemConfig.web.community%></title>

    <%- include('partials/master.ejs') %>
</head>

<body>
    <div style="margin: 0 2em;">

        <div class="row" style="margin: 1em 0;">
            <p style="font-size: 30pt;"><%= config.id %></p>
            <p onclick="sendServerAction('<%= config.id %>', 'start')" style="margin: 0 2em; color: #55eb48; cursor: pointer;">Start</p>
            <p onclick="sendServerAction('<%= config.id %>', 'stop')" style="margin: 0 2em; color: red; cursor: pointer;">Stop</p>
            <p onclick="sendServerAction('<%= config.id %>', 'check')" style="margin: 0 2em; color: lightskyblue; cursor: pointer;">Check</p>
        </div>

        <div class="card" style="margin: 0;">
            Coming Soon
        </div>

    </div>
</body>



<footer>
    <script src="/assets/js/controller.js"></script>
</footer>


</html>